@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.navv {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 70px;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.navv a{
    text-decoration: none;
}
.nav-links {
    display: flex;
    align-items: center;
    column-gap: 40px;
    list-style: none;
    font-size: 13px;
}
.nav-links a{
    color: black;
}
.dropdown{
    cursor: context-menu;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 140px;
    max-width: 500px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content{
    display: block;
}
.logo {
    font-size: 25px;
    font-weight: 500;
    font-family: Poppins;
}
.navv #searchIcon, .navv .search-box, .navv .navOpenBtn, .navv .navCloseBtn, .navv .butt-in-nav{
    display: none;
}
#si-innav{
    padding: 5px 15px;
    background-color: white;
    color: #015b7e;
    border: solid 1px #015b7e;
    border-radius: 5px;
    font-size: 12px;
}
#si-innav:hover{
    background-color: whitesmoke;
}
#start-navbut{
    font-size: 12px;
    padding: 5px 22px;
    background-color: #015b7e;
    color: white;
    border: solid 1px #015b7e;
    border-radius: 5px;
}
#start-navbut:hover{
    background-color: #043f57;
}
#nav-buttons{
    display: flex;
    margin-left: 20%;
    column-gap: 10px;
}
#body-whole{
    padding: 0 50px;
}
#top-whole{
    height: 400px;
    /* background-image: url("../assets/afren-images2/Article\ Image-1.png"); */
    position: relative;
    background-size: cover;
}
#top-article{
    width: 400px;
    background-color: white;
    padding: 40px 20px;
    position: absolute;
    left: 100px;
    margin-bottom: 10px;
}
.article-head{
    color: #5F98AE;
    margin-bottom: 5px;
}
.article-topic{
    color: #015b7e;
    font-weight: lighter;
    margin-bottom: 10px;
    font-size: 20px;
}
.article-writer{
    color: #1C1C1C80;
    font-size: 13px;
    margin-bottom: 10px;
}
.article-content{
    font-size: 14px;
}
#sec-whole2{
    display: flex;
    padding: 60px 100px;
    justify-content: space-between;
}
#articles{
    width: 60%;
}
.individual-atcle{
    display: flex;
    gap: 30px;
    margin-bottom: 40px;
    align-items: center;
}
.atcle-image{
    width: 180px;
    height: 150px;
}
#tags{
    width: 30%;
}
#tags h3{
    color: #015b7e;
}
#tags a{
    display: block;
    padding: 10px 0;
    font-size: 14px;
    color: #015b7e;
    text-decoration: none;
}
#secnd-hero{
    height: 400px;
    /* background-image: url(../images/Article\ Image.png); */
    background-size: cover;
    position: relative;
}
#hero-artcle{
    width: 400px;
    background-color: white;
    padding: 40px 20px;
    position: absolute;
    right: 100px;
    top: 50px;
    margin-bottom: 10px;
}
#editors-picks{
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
#editors-cent-text{
    color: #015B7E;
}
.picked-articles{
    width: 60%;
    display: flex;
    gap: 30px;
    align-items: center;
}
.picked-image{
    width: 250px;
    height: 150px;
}
#Join-af{
    /* height: 250px; */
    /* background-color: #015B7E; */
    /* background-image: url(../images/BLUE_WORM_BACKGROUND\ 1\(1\).png); */
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#joinaf-inner{
    text-align: center;
    width: 60%;
    margin: 30px 0;
}
#joinaf-inner p{
    margin: 20px 0;
}
#joinaf-inner h1{
    margin: 0;
}
#get-strt{
    display: flex;
    justify-content: center;
}
#get-strt button{
    width: 60%;
    height: 50px;
    border: none;
    background-color: white;
    color: #054761;
    border-radius: 5px;
}
#get-strt button:hover{
    background-color: #015B7E;
    color: white;
    border: solid 1px #015B7E;
    cursor: pointer;
}
#footer{
    display: flex;
    width: 100%;
    background-color: #1e1e1e;
    color: #f7fafe;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
    box-sizing: border-box;
    justify-content: space-between;
}
#footer h3{
    font-size: 14px;
}
.footer-link{
    display: block;
    text-decoration: none;
    color: #f7fafe;
    font-size: 12px;
    padding-top: 10px;
}
#foot-logo{
    font-size: 30px;
    font-family: poppins;
    text-decoration: none;
    width: 10%;
    /* position: absolute; */
}
.footercontent{
    display: grid;
    justify-content: space-around;
    width: 85%;
    /* grid-gap: 1rem 4rem; */
}
#copy{
    background-color: #1e1e1e;
    width: 100%;
    text-align: center;
    color: #f7fafe;
    font-size: 12px;
    padding-top: 30px;
}
@media (min-width: 200px) {
    .footercontent { 
        grid-template-columns: repeat(1, 1fr); 
    }
}
@media (min-width: 415px) {
    .footercontent { 
        grid-template-columns: repeat(2, 1fr); 
    }
}
@media (min-width: 759px) {
    .footercontent { 
        grid-template-columns: repeat(4, 1fr); 
    }
}
@media (max-width: 1292px){
    #nav-buttons{
        margin-left: 10%;
    }
}
@media (max-width: 1178px){
    #nav-buttons{
        margin-left: 5%;
    }
}
@media (max-width: 1148px){
    #sec-whole2{
        padding: 60px 50px;
    }
    .picked-articles{
        width: 80%;
    }
}
@media (max-width: 1120px){
    .navv {
        padding: 15px 40px;
    }
}
@media (max-width: 1070px){
    #nav-buttons{
        margin-left: 3%;
    }
    .nav-links {
        column-gap: 30px;
    }
}
@media (max-width: 1013px){
    #articles{
        width: 70%;
    }
    #tags{
        width: 18%;
    }
    #sec-whole2{
        padding: 60px 20px;
    }
}
@media (max-width: 980px){
    .navv {
        padding: 15px 30px;
    }
}
@media (max-width: 944px){
    .navv {
        padding: 15px 20px;
    }
    .logo {
        font-size: 22px;
        font-weight: 500;
    }
    .nav-links {
        column-gap: 22px;
    }
    #Join-af h1{
        font-size: 26px;
    }
    #Join-af p{
        font-size: 14px;
        margin: 10px 0;
    }
}
@media (max-width: 878px){
    .nav-links {
        column-gap: 17px;
    }
    #nav-buttons{
        margin-left: 1%;
    }
}
@media (max-width: 848px){
    #si-innav{
        padding: 5px 10px;
    }
    #start-navbut{
        padding: 5px 16px;
    }
}
@media (max-width: 810px){
    #nav-buttons{
        margin-left: 0;
    }
    #si-innav{
        padding: 5px 5px;
        font-size: 11px;
    }
    #start-navbut{
        padding: 5px 15px;
        font-size: 11px;
    }
    .nav-links{
        font-size: 12px;
    }
}
@media (max-width: 775px){
    .individual-atcle{
        gap: 10px;
        margin-bottom: 30px;
    }
    #tags{
        width: 20%;
    }
    #sec-whole2{
        padding: 40px 0;
    }
    .picked-articles{
        width: 90%;
    }
    .atcle-image{
        width: 150px;
        height: 120px;
    }
    .picked-image{
        width: 220px;
        height: 120px;
    }
}
@media (max-width: 759px){
    .footercontent{
        grid-gap: 2rem 6rem;
        padding-left: 20px;
    }
    #footer{
        padding-left: 2%;
        padding-right: 2%;
    }
}
@media (max-width: 746px){
    .navv .navOpenBtn, .navv .navCloseBtn, .navv #searchIcon {
        display: block;
    }
    .navv .search-box{
        display: flex;
    }
    #nav-buttons{
        display: none;
    }
    .navv {
        padding: 10px 20px;
    }
    #overflow{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: rgba(75, 74, 74, 0.274);
        right: -100%;
        z-index: 1;
        opacity: 0;
        transition: all 0.2s;
    }
    .navv .nav-links {
        align-items: unset;
        position: absolute;
        right: 0;
        height: 100%;
        max-width: 200px;
        width: 100%;
        padding: 50px 1% 0 1%;
        flex-direction: column;
        background-color: #015b7e;
        color: white;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    .nav-links li{
        color: white;
        padding: 18px 16px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.459);
    }
    .nav-links a{
        color: white;
        display: flex;
        justify-content: space-between;
    }
    .nav-links p{
        color: white;
        display: flex;
        justify-content: space-between;
    }
    .dropdown-content{
        display: none;
        position: unset;
        background-color: #015b7e;
        box-shadow: none;
        width: 100%;
    }
    .navv.openNav #overflow {
        right: 0;
        opacity: 1;
    }
    .navv .navOpenBtn {
        position: absolute;
        left: 95%;
        color: #015b7e;
        font-size: 15px;
        cursor: pointer;
    }
    .navv #searchIcon{
        position: absolute;
        left: 90%;
        color: #015b7e;
        font-size: 15px;
        cursor: pointer;
    }
    .navv .search-box {
        position: absolute;
        display: flex;
        right: 20%;
        height: 30px;
        width: 50%;
        opacity: 0;
        pointer-events: none;
        transition: all 0.2s linear;
        background-color: #F7FAFE;
        color: gray;
        border-style: solid;
        border-width: 1px;
        border-color: rgba(155, 154, 154, 0.705);
        border-radius: 10px;
        align-items: center;
        justify-content: space-between;
        padding: 0 2%;
    }
    .navv.openSearch .search-box {
        opacity: 1;
        pointer-events: auto;
    }
    .navv .search-box input {
        height: 100%;
        width: 90%;
        border: none;
        outline: none;
        border-radius: 6px;
        background-color: #F7FAFE;
        padding: 0 1%;
    }
    .navv .search-box .search-icon{
        font-size: 13px;
    }
    .navv .navCloseBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }
    #drp-nav-but{
        margin-top: 40px;
        color: #015b7e;
        text-align: center;
    }
    #drp-nav-but a{
        /* color: #015b7e; */
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        height: 40px;
        width: 100%;
        /* background-color: #015b7e; */
        /* color: white; */
        border: solid 1px white;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    #drp-strt-butt{
        background-color: white;
        color: #015b7e;
    }
    #drp-strt-butt:hover{
        background-color: rgb(209, 202, 202);
    }
    #drp-sign-butt{
        background-color: #015b7e;
        color: white;
    }
    #drp-sign-butt:hover{
        background-color: #097fad;
    }
    .dropdown:hover .dropdown-content{
        display: none;
    }
    .dropdown-content a:hover{
        background-color: #015b7e;
    }
    .openDrop #drp-cont-one{
        display: block;
    }
    .openDropTwo #drp-cont-two{
        display: block;
    }
    .openDropThree #drp-cont-three{
        display: block;
    }
    .openDropFour #drp-cont-four{
        display: block;
    }
}
@media (max-width: 663px){
    #sec-whole2{
        flex-direction: column;
    }
    #articles{
        width: 100%;
    }
    #tags{
        width: 100%;
    }
    #tags a{
        display: unset;
        padding: 0;
    }
    #tag-links{
        display: flex;
        flex-wrap: wrap;
        gap: 10px 15px;
    }
    .picked-articles{
        width: 100%;
        gap: 10px;
    }
    #top-article{
        width: 90%;
        padding: 30px 20px;
        position: unset;
        margin-bottom: 0;
    }
    #top-whole{
        padding: 20px 0;
        height: unset;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #secnd-hero{
        padding: 20px 0;
        height: unset;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #hero-artcle{
        width: 90%;
        padding: 30px 20px;
        position: unset;
        margin-bottom: 0;
    }
    #body-whole{
        padding: 0 20px;
    }
}
@media (max-width: 677px){
    #joinaf-inner{
        width: 80%;
    }
    #Join-af h1{
        font-size: 24px;
    }
    #Join-af p{
        font-size: 13px;
        margin: 10px 0;
    }
}
@media (max-width: 559px){
    .navv .navOpenBtn {
        left: 92%;
    }
    .navv #searchIcon{
        left: 86%;
    }
}
@media (max-width: 503px){
    .footercontent{
        grid-gap: 2rem 3rem;
    }
    #joinaf-inner{
        width: 90%;
    }
}
@media (max-width: 467px){
    .footercontent{
        /* width: 100%; */
        grid-gap: 2rem 0;
    }
}
@media (max-width: 444px){
    .navv .search-box input {
        width: 85%;
    }
    .individual-atcle{
        flex-direction: column;
        text-align: center;
    }
    .atcle-image{
        width: 150px;
        height: 120px;
    }
    .picked-image{
        width: 200px;
        height: 100px;
    }
    .picked-articles{
        flex-direction: column;
        text-align: center;
    }
    #editors-picks{
        gap: 40px;
    }
}
@media (max-width: 415px){
    #footer{
        display: grid;
        row-gap: 10px;
        padding-left: 20px;
    }
    .footercontent{
        row-gap: 10px;
        padding-left: 0;
    }
}
@media (max-width: 372px){
    .navv .navOpenBtn {
        left: 90%;
    }
    .navv #searchIcon{
        left: 82%;
    }
}